.bg-abt-container {
  background-color: $navcolor;
  height: 80vh;
  .container-list {
    width: 45%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    transform: translateY(-3rem);
    .equality,
    .good-service,
    .we-care {
      width: 25rem;
      height: 25rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: white;
      box-shadow: 0px 0px 0.6px rgba(0, 0, 0, 0.02),
        0px 0px 1.3px rgba(0, 0, 0, 0.028), 0px 0px 2.5px rgba(0, 0, 0, 0.035),
        0px 0px 4.5px rgba(0, 0, 0, 0.042), 0px 0px 8.4px rgba(0, 0, 0, 0.05),
        0px 0px 20px rgba(0, 0, 0, 0.07);

      img {
        width: 8rem;
        margin-bottom: 2rem;
      }
      h2 {
        font-size: 2.5rem;
      }
    }
  }
  .content {
    display: flex;
    height: 40vh;
    align-items: center;
    justify-content: center;
    transform: translateY(-3rem);

    width: 45%;
    margin: auto;
    .text-container {
      width: 80%;
      h2 {
        font-size: 4rem;
      }
      p {
        font-size: 2rem;
        width: 60%;
        margin-bottom: 3rem;
        margin-top: 1rem;
      }
      a {
        text-decoration: none;
        font-size: 2rem;
        font-weight: bold;
        color: $navcolor;
        background-color: $logocolor;
        padding: 1.3rem 3.5rem;
      }
    }
    img {
      width: 18rem;
    }
  }
}

@media screen and (min-width: 100px) and (max-width: 320px) {
  .bg-abt-container {
    background-color: $navcolor;
    height: 170vh;

    .container-list {
      width: 80%;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      transform: translateY(-10rem);
      .equality,
      .good-service,
      .we-care {
        margin: 2rem 0;
        width: 100%;
        height: 19rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        box-shadow: 0px 0px 0.6px rgba(0, 0, 0, 0.02),
          0px 0px 1.3px rgba(0, 0, 0, 0.028), 0px 0px 2.5px rgba(0, 0, 0, 0.035),
          0px 0px 4.5px rgba(0, 0, 0, 0.042), 0px 0px 8.4px rgba(0, 0, 0, 0.05),
          0px 0px 20px rgba(0, 0, 0, 0.07);

        img {
          width: 40%;
          margin-bottom: 2rem;
        }
        h2 {
          font-size: 2.5rem;
        }
      }
    }
    .content {
      width: 90%;
      margin: auto;
      height: 80vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transform: translateY(-10rem);

      .text-container {
        order: 2;
        width: 85%;
        display: flex;
        flex-direction: column;
        transform: translateY(6rem);

        h2 {
          font-size: 3.2rem;
          text-align: center;
        }
        p {
          width: 100%;
          font-size: 1.5rem;
          text-align: justify;
          margin-bottom: 3rem;
          margin-top: 1rem;
        }
        a {
          text-decoration: none;
          font-size: 2rem;
          font-weight: bold;
          color: $navcolor;
          background-color: $logocolor;
          padding: 1.3rem 3.5rem;
          text-align: center;
          width: 100%;
        }
      }
      img {
        width: 50%;
      }
    }
  }
}

@media screen and (min-width: 321px) and (max-width: 600px) {
  .bg-abt-container {
    background-color: $navcolor;
    height: 170vh;
    .container-list {
      width: 45%;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      transform: translateY(-10rem);
      .equality,
      .good-service,
      .we-care {
        margin: 2rem 0;
        width: 28rem;
        height: 19rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        box-shadow: 0px 0px 0.6px rgba(0, 0, 0, 0.02),
          0px 0px 1.3px rgba(0, 0, 0, 0.028), 0px 0px 2.5px rgba(0, 0, 0, 0.035),
          0px 0px 4.5px rgba(0, 0, 0, 0.042), 0px 0px 8.4px rgba(0, 0, 0, 0.05),
          0px 0px 20px rgba(0, 0, 0, 0.07);

        img {
          width: 8rem;
          margin-bottom: 2rem;
        }
        h2 {
          font-size: 2.5rem;
        }
      }
    }
    .content {
      width: 90%;
      margin: auto;
      height: 80vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transform: translateY(-10rem);

      .text-container {
        order: 2;
        width: 85%;
        display: flex;
        flex-direction: column;
        transform: translateY(6rem);

        h2 {
          font-size: 3.2rem;
          text-align: center;
        }
        p {
          width: 100%;
          font-size: 2rem;
          text-align: justify;
          margin-bottom: 3rem;
          margin-top: 1rem;
        }
        a {
          text-decoration: none;
          font-size: 2rem;
          font-weight: bold;
          color: $navcolor;
          background-color: $logocolor;
          padding: 1.3rem 3.5rem;
          text-align: center;
          width: 100%;
        }
      }
      img {
        width: 13rem;
      }
    }
  }
}
@media screen and (min-width: 601px) and (max-width: 768px) {
  .bg-abt-container {
    background-color: $navcolor;
    height: 140vh;
    .container-list {
      width: 80%;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      transform: translateY(-10rem);
      .equality,
      .good-service,
      .we-care {
        margin: 2rem 0;
        width: 80%;
        height: 15rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        box-shadow: 0px 0px 0.6px rgba(0, 0, 0, 0.02),
          0px 0px 1.3px rgba(0, 0, 0, 0.028), 0px 0px 2.5px rgba(0, 0, 0, 0.035),
          0px 0px 4.5px rgba(0, 0, 0, 0.042), 0px 0px 8.4px rgba(0, 0, 0, 0.05),
          0px 0px 20px rgba(0, 0, 0, 0.07);

        img {
          width: 8rem;
          margin-bottom: 2rem;
        }
        h2 {
          font-size: 2.5rem;
        }
      }
    }
    .content {
      width: 70%;
      margin: auto;
      height: 80vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transform: translateY(-10rem);

      .text-container {
        order: 2;
        width: 85%;
        display: flex;
        flex-direction: column;
        transform: translateY(6rem);

        h2 {
          font-size: 3.2rem;
          text-align: center;
        }
        p {
          width: 100%;
          font-size: 2rem;
          text-align: justify;
          margin-bottom: 3rem;
          margin-top: 1rem;
        }
        a {
          text-decoration: none;
          font-size: 2rem;
          font-weight: bold;
          color: $navcolor;
          background-color: $logocolor;
          padding: 1.3rem 3.5rem;
          text-align: center;
          width: 100%;
        }
      }
      img {
        width: 13rem;
      }
    }
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .bg-abt-container {
    background-color: $navcolor;
    height: 60vh;
    .container-list {
      width: 80%;
      margin: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      transform: translateY(-6rem);
      .equality,
      .good-service,
      .we-care {
        margin: 0 2rem;
        width: 60rem;
        height: 19rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        box-shadow: 0px 0px 0.6px rgba(0, 0, 0, 0.02),
          0px 0px 1.3px rgba(0, 0, 0, 0.028), 0px 0px 2.5px rgba(0, 0, 0, 0.035),
          0px 0px 4.5px rgba(0, 0, 0, 0.042), 0px 0px 8.4px rgba(0, 0, 0, 0.05),
          0px 0px 20px rgba(0, 0, 0, 0.07);

        img {
          width: 8rem;
          margin-bottom: 2rem;
        }
        h2 {
          font-size: 2.5rem;
        }
      }
    }
    .content {
      width: 75%;
      margin: auto;
      height: 40vh;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      transform: translateY(-5rem);
      // background-color: red;
      .text-container {
        order: 1;
        width: 50%;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        // transform: translateY(20rem);

        h2 {
          color: $logocolor;
          font-size: 3.2rem;
          text-align: center;
        }
        p {
          color: $logocolor;

          width: 100%;
          font-size: 2rem;
          text-align: justify;
          margin-bottom: 3rem;
          margin-top: 1rem;
        }
        a {
          text-decoration: none;
          font-size: 2rem;
          font-weight: bold;
          color: $navcolor;
          background-color: $logocolor;
          padding: 1.3rem 3.5rem;
          text-align: center;
          width: unset;
        }
      }
      img {
        order: 2;
        width: 15rem;
      }
    }
  }
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .bg-abt-container {
    background-color: $navcolor;
    height: 70vh;
    // icons
    .container-list {
      width: 60%;
      margin: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      transform: translateY(-6rem);
      .we-care {
        margin: 0 2rem;
      }
      .equality,
      .good-service,
      .we-care {
        width: 60rem;
        height: 19rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        box-shadow: 0px 0px 0.6px rgba(0, 0, 0, 0.02),
          0px 0px 1.3px rgba(0, 0, 0, 0.028), 0px 0px 2.5px rgba(0, 0, 0, 0.035),
          0px 0px 4.5px rgba(0, 0, 0, 0.042), 0px 0px 8.4px rgba(0, 0, 0, 0.05),
          0px 0px 20px rgba(0, 0, 0, 0.07);

        img {
          width: 8rem;
          margin-bottom: 2rem;
        }
        h2 {
          font-size: 2.5rem;
        }
      }
    }
    // meet wi attorney container
    .content {
      width: 60%;
      margin: auto;
      height: 40vh;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      transform: translateY(0rem);
      // background-color: red;
      // iconic logo
      img {
        order: 2;
        width: 15rem;
      }
      // meet wi attorney section
      .text-container {
        order: 1;
        width: 50%;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        // transform: translateY(20rem);

        h2 {
          color: $logocolor;
          font-size: 3.2rem;
          text-align: center;
        }
        p {
          color: $logocolor;

          width: 100%;
          font-size: 2rem;
          text-align: justify;
          margin-bottom: 3rem;
          margin-top: 1rem;
        }
        a {
          text-decoration: none;
          font-size: 2rem;
          font-weight: bold;
          color: $navcolor;
          background-color: $logocolor;
          padding: 1.3rem 3.5rem;
          text-align: center;
          width: unset;
        }
      }
    }
  }
}
@media screen and (min-width: 1441px) and (max-width: 3000px) {
  .bg-abt-container {
    background-color: $navcolor;
    height: 50vh;
    .container-list {
      width: 50%;
      margin: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      transform: translateY(-6rem);
      .equality,
      .good-service,
      .we-care {
        margin: 0 2rem;
        width: 60rem;
        height: 19rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        box-shadow: 0px 0px 0.6px rgba(0, 0, 0, 0.02),
          0px 0px 1.3px rgba(0, 0, 0, 0.028), 0px 0px 2.5px rgba(0, 0, 0, 0.035),
          0px 0px 4.5px rgba(0, 0, 0, 0.042), 0px 0px 8.4px rgba(0, 0, 0, 0.05),
          0px 0px 20px rgba(0, 0, 0, 0.07);

        img {
          width: 8rem;
          margin-bottom: 2rem;
        }
        h2 {
          font-size: 2.5rem;
        }
      }
    }
    .content {
      width: 50%;
      margin: auto;
      height: 40vh;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      transform: translateY(-10rem);
      // background-color: red;
      .text-container {
        order: 1;
        width: 50%;
        margin-left: 2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        // transform: translateY(20rem);

        h2 {
          color: $logocolor;
          font-size: 3.2rem;
          text-align: center;
        }
        p {
          color: $logocolor;

          width: 100%;
          font-size: 2rem;
          text-align: justify;
          margin-bottom: 3rem;
          margin-top: 1rem;
        }
        a {
          text-decoration: none;
          font-size: 2rem;
          font-weight: bold;
          color: $navcolor;
          background-color: $logocolor;
          padding: 1.3rem 3.5rem;
          text-align: center;
          width: unset;
        }
      }
      img {
        margin-right: 2rem;
        order: 2;
        width: 15rem;
      }
    }
  }
}
